*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-no-footer {
  flex-grow: 1;
}

header {
  background: linear-gradient(305deg, #dbfff3, transparent);
  margin-bottom: clamp(3vh, 50px, 5vh);
  height: 200px;
}

.header-title {
  padding-bottom: 50px;
  width: 90vh;
  max-width: 500px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 2rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

#nav-link-img {
  margin: 0.85rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 10px;
  justify-content: center;
  flex-shrink: 0;
}
